a {
    color: #1f0270f8;
    font-family: "Book Antiqua";
}

nav {
    background-color: rgb(115, 170, 219);
}

// Wanted to change the built in bootstrap image for the mobile menu drop-down
// Got this from stack-overflow. Need to set color in the URL
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,5,48, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color: rgb(9, 5, 48);
} 